*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    padding: 0;
}

body,html { width: 100%; height: 100%;

  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
                              

}

#ui { position: relative; width: 100%; height: 100%; overflow: hidden; }

/* STATUS BARS */
#status_list {
	position: absolute;
	right   : 2.9em;
	top : 2.9em;
	width  : 12.5%;
	opacity: 0.0;
}

#status_list .wrapper {
    display: flex;
    flex-direction: row;
}

#status_list .status_icon {
    color: #fff;
    font-size: 1em;
	margin: 0.2em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#status_list .status {
    flex: 1;
	padding: 1px;
	margin: 0.4em;
}

#status_list .status_inner {
	border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

#status_list .status_val {
	height : 0.5em;
}

/* BLINKERS */
#container_blinker_left {
	position: absolute; bottom: 20px; left: 50%; transform: translate(-640%,-20%); z-index: 11;
}
#container_blinker_right {
	position: absolute; bottom: 20px; left: 50%; transform: translate(520%,-20%) rotate(180deg); z-index: 11;
}
#container_blinker_left #blinker_left, #container_blinker_right #blinker_right { position: relative; width: 24px; height: 24px; opacity: 0.8; }
#container_blinker_left #blinker_left svg, #container_blinker_right #blinker_right svg { fill: #fff; position: absolute; top: 0; left: 50%; transform: translate(-50%,0); width: 24px; }
#container_blinker_left #blinker_left svg.off, #container_blinker_right #blinker_right svg.off {
    opacity: 0.15;
}

/* HEADLIGHTS */
#container_headlight {
	position: absolute; bottom: 20px; left: 50%; transform: translate(315%,-255%); z-index: 11;
}
#container_headlight #headlight { position: relative; width: 24px; height: 24px; opacity: 0.8; }
#container_headlight #headlight svg { fill: #fff; position: absolute; top: 0; left: 50%; transform: translate(-50%,0); width: 24px; }
#container_headlight #headlight svg.off {
    opacity: 0.2 !important;
    fill: #fff !important;
}
#container_headlight #headlight svg.lowbeam {
    opacity: 1;
    fill: #58d133;
}
#container_headlight #headlight svg.highbeam {
    opacity: 1;
    fill: #37a8e9;
}
#container_headlight #headlight svg.hide {
    display: none;
}

/* SEATBELT */
#container_seatbelt {
	position: absolute; bottom: 20px; left: 50%; transform: translate(-415%,-285%); z-index: 11;
}

#container_seatbelt #seatbelt { position: relative; width: 24px; height: 24px; opacity: 0.8; }
#container_seatbelt #seatbelt svg { fill: #5bcc39; position: absolute; top: 0; left: 50%; transform: translate(-50%,0); width: 24px; }
#container_seatbelt #seatbelt svg.off {
    fill: #c90000;
}

.blink-sirens1 {
    -moz-animation: blinksirens1 normal 1s infinite ease-in-out;
    -webkit-animation: blinksirens1 normal 1s infinite ease-in-out;
    animation: blinksirens1 normal 1s infinite ease-in-out;
}

.blink-sirens2 {
    -moz-animation: blinksirens2 normal 1s infinite ease-in-out;
    -webkit-animation: blinksirens2 normal 1s infinite ease-in-out;
    animation: blinksirens2 normal 1s infinite ease-in-out;
}

.blink-sirens1audio {
    -moz-animation: blinksirens1audio normal 1s infinite ease-in-out;
    -webkit-animation: blinksirens1audio normal 1s infinite ease-in-out;
    animation: blinksirens1audio normal 1s infinite ease-in-out;
}

.blink-sirens2audio {
    -moz-animation: blinksirens2audio normal 1s infinite ease-in-out;
    -webkit-animation: blinksirens2audio normal 1s infinite ease-in-out;
    animation: blinksirens2audio normal 1s infinite ease-in-out;
}

.blink-image {
    -moz-animation: blink normal 1s infinite ease-in-out;
    -webkit-animation: blink normal 1s infinite ease-in-out;
    animation: blink normal 1s infinite ease-in-out;
}

@-moz-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 

@-webkit-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
}

@keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 

/* right blinker siren no audio */
@-moz-keyframes blinksirens1 {
    0% {opacity:1;fill:#eb0000;}
    50% {opacity:1;fill:#003cff;}
    100% {opacity:1;fill:#eb0000;}
} 

@-webkit-keyframes blinksirens1 {
    0% {opacity:1;fill:#eb0000;}
    50% {opacity:1;fill:#003cff;}
    100% {opacity:1;fill:#eb0000;}
}

@keyframes blinksirens1 {
    0% {opacity:1;fill:#eb0000;}
    50% {opacity:1;fill:#003cff;}
    100% {opacity:1;fill:#eb0000;}
} 

/* right blinker siren no audio */

@-moz-keyframes blinksirens2 {
    0% {opacity:1;fill:#003cff;}
    50% {opacity:1;fill:#eb0000;}
    100% {opacity:1;fill:#003cff;}
} 

@-webkit-keyframes blinksirens2 {
    0% {opacity:1;fill:#003cff;}
    50% {opacity:1;fill:#eb0000;}
    100% {opacity:1;fill:#003cff;}
}

@keyframes blinksirens2 {
    0% {opacity:1;fill:#003cff;}
    50% {opacity:1;fill:#eb0000;}
    100% {opacity:1;fill:#003cff;}
} 

/* right blinker siren audio */

@-moz-keyframes blinksirens1audio {
    0% {opacity:1;fill:#eb0000;}
    12% {opacity:1;fill:#003cff;}
    25% {opacity:1;fill:#eb0000;}
    37% {opacity:1;fill:#003cff;}
    50% {opacity:1;fill:#eb0000;}
    62% {opacity:1;fill:#003cff;}
    75% {opacity:1;fill:#eb0000;}
    87% {opacity:1;fill:#003cff;}
    100% {opacity:1;fill:#eb0000;}
} 

@-webkit-keyframes blinksirens1audio {
    0% {opacity:1;fill:#eb0000;}
    12% {opacity:1;fill:#003cff;}
    25% {opacity:1;fill:#eb0000;}
    37% {opacity:1;fill:#003cff;}
    50% {opacity:1;fill:#eb0000;}
    62% {opacity:1;fill:#003cff;}
    75% {opacity:1;fill:#eb0000;}
    87% {opacity:1;fill:#003cff;}
    100% {opacity:1;fill:#eb0000;}
}

@keyframes blinksirens1audio {
    0% {opacity:1;fill:#eb0000;}
    12% {opacity:1;fill:#003cff;}
    25% {opacity:1;fill:#eb0000;}
    37% {opacity:1;fill:#003cff;}
    50% {opacity:1;fill:#eb0000;}
    62% {opacity:1;fill:#003cff;}
    75% {opacity:1;fill:#eb0000;}
    87% {opacity:1;fill:#003cff;}
    100% {opacity:1;fill:#eb0000;}
} 

/* left blinker siren audio */

@-moz-keyframes blinksirens2audio {
    0% {opacity:1;fill:#003cff;}
    12% {opacity:1;fill:#eb0000;}
    25% {opacity:1;fill:#003cff;}
    37% {opacity:1;fill:#eb0000;}
    50% {opacity:1;fill:#003cff;}
    62% {opacity:1;fill:#eb0000;}
    75% {opacity:1;fill:#003cff;}
    87% {opacity:1;fill:#eb0000;}
    100% {opacity:1;fill:#003cff;}
} 

@-webkit-keyframes blinksirens2audio {
    0% {opacity:1;fill:#003cff;}
    12% {opacity:1;fill:#eb0000;}
    25% {opacity:1;fill:#003cff;}
    37% {opacity:1;fill:#eb0000;}
    50% {opacity:1;fill:#003cff;}
    62% {opacity:1;fill:#eb0000;}
    75% {opacity:1;fill:#003cff;}
    87% {opacity:1;fill:#eb0000;}
    100% {opacity:1;fill:#003cff;}
}

@keyframes blinksirens2audio {
    0% {opacity:1;fill:#003cff;}
    12% {opacity:1;fill:#eb0000;}
    25% {opacity:1;fill:#003cff;}
    37% {opacity:1;fill:#eb0000;}
    50% {opacity:1;fill:#003cff;}
    62% {opacity:1;fill:#eb0000;}
    75% {opacity:1;fill:#003cff;}
    87% {opacity:1;fill:#eb0000;}
    100% {opacity:1;fill:#003cff;}
} 

/* RPM METER */
#rpm_container { position: absolute; bottom: 20px; left: 50%; transform: translate(38%,0); z-index: 11; }
#rpmmeter { position: relative; width: 103px; height: 50px; }
#rpmmeter svg { position: absolute; top: 0; left: 50%; transform: translate(-50%,0) rotate(138deg); width: 50px; }
#rpmmeter #vehicle-rpm { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-55%); text-align: center; color: #FFF;}
#rpmmeter #vehicle-rpm span.fuel-icon { display: block; font-size: 24px; text-shadow: 0px 1px 1px rgba(0,0,0,0.75); }
#rpmmeter #progress-rpm svg circle.rpm { stroke-dashoffset: 180; }
#rpmmeter #progress-rpm svg circle.mask { stroke: rgba(0,0,0,0.35); }
#rpmmeter #progress-rpm svg circle { display: block; fill: transparent; transition: all 250ms linear; stroke-width: 10px; stroke-linecap: round; stroke-dasharray: 283; stroke-dashoffset: 75; transform-origin: 50% 50%; }
#rpmmeter #progress-rpm svg circle.zero { stroke: #ff9600; }
#rpmmeter #progress-rpm svg circle.ten { stroke: #ff6338; }
#rpmmeter #progress-rpm svg circle.twenty { stroke: #ff316f; }
#rpmmeter #progress-rpm svg circle.thirty { stroke: #ff00a5; }
#rpmmeter #progress-rpm svg circle.forty { stroke: #c1098d; }
#rpmmeter #progress-rpm svg circle.fifty { stroke: #881277; }
#rpmmeter #progress-rpm svg circle.sixty { stroke: #66176a; }
#rpmmeter #progress-rpm svg circle.seventy { stroke: #501b61; }
#rpmmeter #progress-rpm svg circle.eighty { stroke: #471c5e; }
#rpmmeter #progress-rpm svg circle.ninety { stroke: #401d5c; }
#rpmmeter #vehicle-rpm { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; color: #FFF;}
#rpmmeter #vehicle-rpm span.rpm { display: block; font-weight: 900; font-size: 11px; transform: translate(0,0); text-shadow: 0px 1px 1px rgba(0,0,0,0.75); }
#rpmmeter #vehicle-rpm strong.rpmunit { display: inline-block; font-size: 8px; font-weight: 900; transform: translate(0,-20%); padding: 2px 5px; border-radius: 100px; text-shadow: 0px 1px 1px rgba(0,0,0,0.75); transition: all 150ms linear; }
#rpmmeter #vehicle-rpm strong.speedunit.on { background: #18b70b; }

/* FUEL V2 */
#fuel_container { position: absolute; bottom: 20px; left: 50%; transform: translate(-140%,0); z-index: 11; }
#fueltank { position: relative; width: 103px; height: 50px; }
#fueltank svg { position: absolute; top: 0; left: 50%; transform: translate(-50%,0) rotate(138deg); width: 50px; }
#fueltank #vehicle-fuel { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-55%); text-align: center; color: #FFF;}
#fueltank #vehicle-fuel span.fuel-icon { display: block; font-size: 24px; text-shadow: 0px 1px 1px rgba(0,0,0,0.75); }
#fueltank svg circle.fuel { stroke-dashoffset: 180; }
#fueltank svg circle.mask { stroke: rgba(0,0,0,0.35); }
#fueltank svg circle { display: block; fill: transparent; transition: all 250ms linear; stroke-width: 10px; stroke-linecap: round; stroke-dasharray: 283; stroke-dashoffset: 75; transform-origin: 50% 50%; }

/* SPEED-O-METER */
#speedometer_container { position: absolute; bottom: 20px; left: 50%; transform: translate(-50%,0); z-index: 11; }
#speedometer_container.active, #fuel_container.active, #container_seatbelt.active, #rpm_container.active, #container_headlight.active, #container_blinker_left.active, #container_blinker_right.active { opacity: 1; }
#speedometer_container.inactive, #fuel_container.inactive, #container_seatbelt.inactive, #rpm_container.inactive, #container_headlight.inactive, #container_blinker_left.inactive, #container_blinker_right.inactive { opacity: 0; }

#speedometer { position: relative; width: 270px; height: 130px; }
#speedometer #progress-speed svg { position: absolute; top: 0; left: 50%; transform: translate(-50%,0) rotate(138deg); width: 130px; }

#speedometer #progress-speed svg circle { display: block; fill: transparent; transition: all 250ms linear; stroke-width: 5px; stroke-linecap: round; stroke-dasharray: 283; stroke-dashoffset: 75; transform-origin: 50% 50%; }
#speedometer #progress-speed svg circle.mask { stroke: rgba(0,0,0,0.35); }
#speedometer #progress-speed svg circle.speed { stroke: url(#fuel-gradient); stroke-dashoffset: 180; }
#speedometer #progress-speed svg:first-child, #fueltank svg:first-child, #rpmmeter svg:first-child { z-index: 11; }

#speedometer #progress-speed svg circle { transition: all 250ms linear; }
#speedometer #progress-speed svg circle.zero { stroke: #ff9600; }
#speedometer #progress-speed svg circle.ten { stroke: #ff6338; }
#speedometer #progress-speed svg circle.twenty { stroke: #ff316f; }
#speedometer #progress-speed svg circle.thirty { stroke: #ff00a5; }
#speedometer #progress-speed svg circle.forty { stroke: #c1098d; }
#speedometer #progress-speed svg circle.fifty { stroke: #881277; }
#speedometer #progress-speed svg circle.sixty { stroke: #66176a; }
#speedometer #progress-speed svg circle.seventy { stroke: #501b61; }
#speedometer #progress-speed svg circle.eighty { stroke: #471c5e; }
#speedometer #progress-speed svg circle.ninety { stroke: #401d5c; }

#speedometer #vehicle-speed { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; color: #FFF;}
#speedometer #vehicle-speed span.speed { display: block; font-weight: 900; font-size: 30px; transform: translate(0,-20%); text-shadow: 0px 1px 1px rgba(0,0,0,0.75); }
#speedometer #vehicle-speed span.rpm { display: block; font-weight: 900; font-size: 9px; transform: translate(0,-115%); text-shadow: 0px 1px 1px rgba(0,0,0,0.75); }

#speedometer #vehicle-speed strong.rpmunit { display: inline-block; font-size: 8px; transform: translate(0,-80%); font-weight: 900; padding: 2px 5px; border-radius: 100px; text-shadow: 0px 1px 1px rgba(0,0,0,0.75); transition: all 150ms linear; }
#speedometer #vehicle-speed strong.speedunit { display: inline-block; font-size: 10px; font-weight: 900; transform: translate(0,-30%); padding: 2px 5px; border-radius: 100px; text-shadow: 0px 1px 1px rgba(0,0,0,0.75); transition: all 150ms linear; }
#speedometer #vehicle-speed strong.speedunit.on { background: #18b70b; }

#speedometer #vehicle-gear,
#speedometer #vehicle-others { position: absolute; bottom: 0; left: 50%; width: 69px; transform: translate(-50%,0); margin: auto; border: 2px solid transparent; }

#speedometer #vehicle-gear.pulsing { animation: trew-siren 1s infinite; }

#speedometer #vehicle-gear i.car { top: -2px; display: none; }
#speedometer #vehicle-gear i.plane { top: -2px; display: none; }
#speedometer #vehicle-gear i.show { display: inline; }
#speedometer #vehicle-gear span.car { padding: 5px 15px 0 10px; }
#speedometer #vehicle-gear span.plane { padding: 5px 2px 0 0; }

#speedometer .icon { display: block; position: relative; padding: 10px 8px; margin: 10px 5px 0 5px; width: 30px; height: 30px; border-radius: 100px; overflow: hidden; background: rgba(0,0,0,0.35); }

#speedometer .icon i { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); color: #FFF; z-index: 11; font-size: 15px; }
#speedometer .icon svg { width: 16px; margin: -3px 0 0 0; fill: #fff; }
#speedometer .icon span { display: block; position: absolute; left: 50%; bottom: 0; transform: translate(-50%,0); width: 100%; height: 100%; }

#speedometer .icon.text { display: inline-block; overflow: visible; width: auto; padding: 0; }
#speedometer .icon.text i { display: inline-block; float: left; transform: translate(0%,0%); left: 0; top: 0; position: relative; padding: 10px 8px; width: 30px; height: 30px; border-radius: 100px; color: #FFF; }
#speedometer .icon.text i:before { position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); }
#speedometer .icon.text span { position: relative; width: auto; height: auto; left: 0; transform: translate(0,0); display: inline-block; font-size: 12px; padding: 7px 15px 0 10px; font-weight: 700; color: #FFF; }


#speedometer .icon.dying:not(.customstatus) span { animation: trew-status-blink 500ms infinite; }
#speedometer .icon.pulse i { animation: trew-pulse 500ms 1; }

@keyframes trew-siren {
    0% { border-color: rgba(255,0,0,0); box-shadow: 0 0 10px 10px rgba(255,0,0,0); }
    50% { border-color: rgba(255,0,0,1); box-shadow: 0 0 10px 10px rgba(255,0,0,0.50); }
    100% { border-color: rgba(255,0,0,0); box-shadow: 0 0 10px 10px rgba(255,0,0,0); }
}

@keyframes trew-soundwave {
    0% { box-shadow: 0 0 0 0px rgba(255,255,255,0.75); }
    100% { box-shadow: 0 0 0 25px rgba(255,255,255,0); }
}

@keyframes trew-status-blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes trew-pulse {
    0% { transform: scale(1); }
    25% { transform: scale(1.5); }
    100% { transform: scale(1); }
}

@keyframes trew-speed {
    0% { stroke-dashoffset: 280; }
    50% { stroke-dashoffset: 75; }
    100% { stroke-dashoffset: 280; }
}

@keyframes trew-bullets {
    0% { opacity: 0; }
    25% { opacity: 1; }
    100% { transform: translate(30px,-60px) rotate(90deg); opacity: 0;}
}

@keyframes trew-rainbow{
        100%,
        0%{ background: rgba(255,0,0,0.70); }
        8%{ background: rgba(255,127,0,0.70); }
        16%{ background: rgba(230,205,23,0.70); }
        25%{ background: rgba(127,255,0,0.70); }
        33%{ background: rgba(0,255,0,0.70); }
        41%{ background: rgba(0,255,127,0.70); }
        50%{ background: rgba(0,255,255,0.70); }
        58%{ background: rgba(0,127,255,0.70); }
        66%{ background: rgba(0,0,255,0.70); }
        75%{ background: rgba(127,0,255,0.70); }
        83%{ background: rgba(255,0,255,0.70); }
        91%{ background: rgba(255,0,127,0.70); }
}