body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 400;
    overflow: hidden;
}

.ui-dial {
    position: absolute;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.ui-dial svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.ui-dial svg circle {
    fill: transparent;
}

.ui-dial svg circle:last-child {
    z-index: 10;
}

.ui-dial.done {
    -webkit-animation: done 200ms ease 0ms forwards;
    animation: done 200ms ease 0ms forwards;
}

.ui-dial .ui-indicator {
    position: absolute;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.ui-dial .ui-label {
    position: absolute;
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    min-width: 400px;
    text-align: center;
}

.ui-dial.label-bottom .ui-label {
    top: 100%;
    margin: 20px 0;
}
.ui-dial.label-top .ui-label {
    top: 0;
    margin: -60px 0;
}
.ui-dial.label-right .ui-label {
    left: 100%;
    margin: 0 20px;
}

@-webkit-keyframes done {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}

@keyframes done {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    to {
        opacity: 0;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}