html {
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
}

#container_box {
	display: none;
	align-items: center;
	justify-content: center;
}

.container {
	width: 594px;
	height: 840px;
	overflow-y: auto;
	background-color: #f3efdc;
	border-radius: 3px;
	box-shadow: 4px 4px rgba(0,0,0,0.2);
}

.bennys_header {
	text-align: center;
}

.bennys_header img {
	margin-top: 20px;
	width: 200px;
}

.bennys_header p.address {
	font-size: 7pt;
	font-style: italic;
	font-weight: bold;
}

.bennys_header p.certificate_date {
	font-size: 10pt;
	font-weight: bold;
}

.vehicle {	
	padding: 0 20px;
}

.vehicle .col {
	float: left;
	width: 50%;
}

.vehicle_infos, .vehicle_body, .vehicle_engine, .vehicle_customs {
	font-size: 9pt;
	padding: 5px 0;
}

.vehicle_body, .vehicle_engine, .vehicle_customs {
	display: none;
}

.vehicle_infos h2, .vehicle_body h2, .vehicle_engine h2, .vehicle_customs h2 {
	font-size: 12pt;
}

.vehicle_infos p, .vehicle_body p, .vehicle_engine p {
	font-size: 10pt;
}

.vehicle_customs p {
	font-size: 8pt;
}