<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Benny's - Certificat du Véhicule {{PLAQUE}}</title>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="container_box">
		<div class="container">
			<div class="bennys_header">
				<img src="img/bennyslogo.png" /><br >
				<p class="address">
					Benny's - Strawberry Avenue - South Los Santos, Los Plantos
				</p>
				<p class="certificate_date">01/01/1970 - 14:00</p>
			</div>
			<div class="vehicle">
				<div class="col">
					<div class="vehicle_infos">
						<h2>Informations du véhicule</h2>
						<p>
							Plaque d'immatriculation: <span class="plate">XVH 345</span>
						</p>
						<p>
							Modèle: <span class="model">Police Revolter (Unmarked)</span>
						</p>
					</div>
					<div class="vehicle_body">
						<h2>État du véhicule (physique)</h2>
						<p>
							Carrosserie: <span class="bodystate">100%</span>
						</p>
						<p>
							Fenêtres: <span class="windowsstate">RAS</span>
						</p>
						<p>
							Pneus: <span class="tyresstate">RAS</span>
						</p>
					</div>
					<div class="vehicle_engine">
						<h2>État du véhicule (fonctionnel)</h2>
						<p>
							Moteur: <span class="enginestate">100%</span>
						</p>
						<p>
							Réservoir d'essence: <span class="tankstate">100%</span>
						</p>
					</div>
				</div>
				<div class="col">
					<div class="vehicle_customs">
						<h2>Améliorations installées</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
<script>
	let loopAudioPlayer = null;
	let audioPlayer = null;
	// Listen for NUI Messages.
	window.addEventListener('message', function(event) {
		let item = event.data
		if (item.openCertificate && item.diagnosticResults) {
			$("#container_box").css("display", "flex");
			$('.bodystate').text('');
			$('.windowsstate').text('');
			$('.tyresstate').text('');
			$('.enginestate').text('');
			$('.tankstate').text('');
			$('.vehicle_customs').text('');
			$(".vehicle_body").css("display", "none");
			$(".vehicle_engine").css("display", "none");
			$(".vehicle_customs").css("display", "none");
			$('.certificate_date').text(new Date().toLocaleDateString("fr-FR"));
			$(".plate").text(item.plate);
			$(".model").text(item.model);
			
			const diagnosticResults = JSON.parse(item.diagnosticResults)
			if (diagnosticResults.body) {
				$(".vehicle_body").css("display", "block");
				$(".bodystate").text(diagnosticResults.body);
				$(".windowsstate").text(diagnosticResults.windows);
				$(".tyresstate").text(diagnosticResults.tyres);
			}

			if (diagnosticResults.engine) {
				$('.vehicle_engine').css("display", "block");
				$(".enginestate").text(diagnosticResults.engine);
				$(".tankstate").text(diagnosticResults.tank);
			}

			if (diagnosticResults.customs) {
				$('.vehicle_customs').css("display", "block");
				diagnosticResults.customs.forEach((custom) => {
					$('.vehicle_customs').append(`<p>${custom.label}: ${custom.value}</p>`)
				})
			}
		} else if (item.closeCertificate) {
			$("#container_box").css("display", "none");
		}
	});
</script>

</html>

