@font-face {
  font-family: glitch;
  src: url('../fonts/pdown.ttf');
}

@font-face {
  font-family: chalet;
  src: url('../fonts/ChaletLondonNineteenSixty.ttf');
}

#controls {
  font-family   : glitch;
  font-size     : 3em;
  color         : #FFF;
  position      : absolute;
  bottom        : 40;
  right         : 40;
}

.controls {
  display: none;
}

.dialog {
  font-family     : chalet;
  color           : #fff;
  box-shadow      : 0px 0px 50px 0px #000;
  position        : absolute;
  overflow        : hidden;
  top             : 50%;
  left            : 50%;
  min-width       : 20vw;
  transform       : translate(-50%, -50%);
  border-radius   : 0.6vw;
}

.dialog .head {
  background-color: rgba(0, 0, 0, 1);
  background-image: url("../img/menu/lp_fleur.png");
  background-size: 2.6vh;
  background-repeat: no-repeat;
  background-position: left;
  color: white;
  text-align      : left;
  height          :  3.2vh;
  padding-left: 1.8vw;
  padding-top: 0.2vh;
  font-size: 2vh;
}

.dialog .head span:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.dialog .question {
  background-color: rgba(0, 0, 0, 1);
  color: white;
  text-align      : left;
  padding: 0.5vh;
  min-height : 3.2vh;
  font-size: 2vh;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: #3E1D5B;
}

.dialog button {
  font-family : chalet;
  background-color: #5C3293EE;
  border-width: 0;
  color           : #fff;
  height: 3.2vh;
  font-size: 2vh;
  font-weight: bold;
}

.dialog button[name="submit"] {
  background-color: #3E1D5BEE;
  width : 50%;
}

.dialog button[name="submit"]:hover, .dialog button[name="submit"]:focus {
  background-color: #5C3293EE;
  outline-width: 0;
  -ms-layout-grid-line: 0;
  border-width: 0;
}

.dialog button[name="cancel"] {
  background-color: rgba(0, 0, 0, 1);
  font-weight: bold;
  width : 50%;
}

.dialog button[name="cancel"]:hover, .dialog button[name="cancel"]:focus {
  background-color: rgba(24, 24, 24, 1);
  outline-width: 0;
  -ms-layout-grid-line: 0;
  border-width: 0;
}