<template>
  <div class="phone_app">
    <PhoneTitle :title="title" :showInfoBare="showInfoBare" v-if="showHeader" @back="back" backgroundColor="#e03b24"/>
    <!-- <InfoBare v-if="showInfoBare"/>
    <div v-if="title !== ''" class="phone_title" v-bind:style="styleTitle()">{{title}}</div>
    -->
    <div class="phone_content elements">
        <div class="element" v-for='(elem, key) in list' 
          v-bind:key="elem[keyDispay]"
          v-bind:class="{ select: key === currentSelect, inprogress: elem.taken_by !== undefined && elem.resolved === 0, resolved: elem.resolved === 1}"
          @click.stop="selectItem(elem)"
          @contextmenu.prevent="optionItem(elem)"
          
          >
            <div @click.stop="selectItem(elem)" v-if="elem['taken_by'] !== undefined" class="elem-taken">{{taken_by}} {{elem["taken_by_name"]}}</div>
            <div @click.stop="selectItem(elem)" class="elem-title">{{elem[keyDispay]}}</div>
            <div @click.stop="selectItem(elem)" class="elem-street">{{elem["street_name"]}} - Contact: #{{elem["phoneNumber"]}}</div>
            <div @click.stop="selectItem(elem)" class="elem-description">{{elem["reason"]}}</div>
            <div @click.stop="selectItem(elem)" class="elem-time"><timeago :since="elem.time * 1000" :auto-update="20"></timeago></div>
        </div>
    </div>
  </div>
</template>

<script>
import PhoneTitle from './PhoneTitle'
import InfoBare from './InfoBare'
import { mapGetters } from 'vuex'

export default {
  name: 'ListEmergencies',
  components: {
    PhoneTitle, InfoBare
  },
  data: function () {
    return {
      currentSelect: -1
    }
  },
  props: {
    title: {
      type: String,
      default: 'Title'
    },
    taken_by: {
      type: String,
      default: 'taken by'
    },
    not_taken: {
      type: String,
      default: 'take call'
    },
    showHeader: {
      type: Boolean,
      default: true
    },
    showInfoBare: {
      type: Boolean,
      default: true
    },
    list: {
      type: Array,
      required: true
    },
    color: {
      type: String,
      default: '#FFFFFF'
    },
    backgroundColor: {
      type: String,
      default: '#4CAF50'
    },
    keyDispay: {
      type: String,
      default: 'playerName'
    },
    disable: {
      type: Boolean,
      default: false
    },
    titleBackgroundColor: {
      type: String,
      default: '#FFFFFF'
    }
  },
  watch: {
    list: function () {
      this.currentSelect = -1
    }
  },
  computed: {
    ...mapGetters(['useMouse'])
  },
  methods: {
    styleTitle: function () {
      return {
        color: this.color,
        backgroundColor: this.backgroundColor
      }
    },
    stylePuce (data) {
      data = data || {}
      if (data.icon !== undefined) {
        return {
          backgroundImage: `url(${data.icon})`,
          backgroundSize: 'cover',
          color: 'rgba(0,0,0,0)'
        }
      }
      return {
        color: data.color || this.color,
        backgroundColor: data.backgroundColor || this.backgroundColor,
        borderRadius: '50%'
      }
    },
    scrollIntoViewIfNeeded: function () {
      this.$nextTick(() => {
        document.querySelector('.select').scrollIntoViewIfNeeded()
      })
    },
    onUp: function () {
      if (this.disable === true) return
      this.currentSelect = this.currentSelect === 0 ? this.list.length - 1 : this.currentSelect - 1
      this.scrollIntoViewIfNeeded()
    },
    onDown: function () {
      if (this.disable === true) return
      this.currentSelect = this.currentSelect === this.list.length - 1 ? 0 : this.currentSelect + 1
      this.scrollIntoViewIfNeeded()
    },
    selectItem (item) {
      this.$emit('select', item)
    },
    optionItem (item) {
      this.$emit('option', item)
    },
    back () {
      this.$emit('back')
    },
    onRight: function () {
      if (this.disable === true) return
      this.$emit('option', this.list[this.currentSelect])
    },
    onEnter: function () {
      if (this.disable === true) return
      this.$emit('select', this.list[this.currentSelect])
    }
  },
  created: function () {
    if (!this.useMouse) {
      this.$bus.$on('keyUpArrowDown', this.onDown)
      this.$bus.$on('keyUpArrowUp', this.onUp)
      this.$bus.$on('keyUpArrowRight', this.onRight)
      this.$bus.$on('keyUpEnter', this.onEnter)
    } else {
      this.currentSelect = -1
    }
  },
  beforeDestroy: function () {
    this.$bus.$off('keyUpArrowDown', this.onDown)
    this.$bus.$off('keyUpArrowUp', this.onUp)
    this.$bus.$off('keyUpArrowRight', this.onRight)
    this.$bus.$off('keyUpEnter', this.onEnter)
  }
}
</script>

<style scoped>
.list{
  height: 100%;
}


.elements{
  overflow-y: auto;
}

.element{
  text-align:left;
  width: 95%;
  margin: 10px auto;
  height: auto;
  background-color: #e74c3c;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.element.select, .element:hover {
   background-color: #c23c2d;
}

.element.inprogress {
  background-color: #f19925;
}

.element.inprogress.select, .element.inprogress:hover {
  background-color: #cc801e;
}

.element.resolved {
  background-color: #68bb2d;
}

.element.resolved.select, .element.resolved:hover {
  background-color: #569e22;
}

.elem-title{
  padding: 10px 10px 0 10px;
  font-weight: bold;
}
.elem-street {
  padding: 0 10px 3px 10px;
  font-size: 11pt;
}
.elem-description{
  color:white;
  font-size:12pt;
  padding: 5px 10px 10px 10px;
}
.elem-time{
  color:white;
  font-size:9pt;
  font-style:italic;
  padding: 5px 10px 10px 10px;
}
.elem-taken {
  position: absolute;
  display: block;
  right: 10px;
  top: 10px;
  font-size:10pt;
  color:white;
}
</style>
