@font-face {
	font-family: glitch;
	src: url('./pdown.ttf');
  }
  
  @font-face {
	font-family: chalet;
	src: url('./ChaletLondonNineteenSixty.ttf');
  }

html {
	overflow: hidden;
	font-family: chalet;
}

.full-screen {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.question-container {
	width: 1344px;
	height: 700px;
	background-color: #222;
	border: 1px solid #222;
	border-radius: 1px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	z-index: 9999999;
	display: none;
	color: white;
}

input[type='radio']:after {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: -2px;
	left: -5px;
	position: relative;
	background-color: #ddd;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid white;
}

input[type='radio']:checked:after {
	background-color: #7343bf;
}

.header {
	width: 100%;
	height: 20%;
	background-color: black;
	color: #7343bf;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.header .logo {
	height: 100%;
	margin: auto;
	margin-bottom: 0;
}

.header h1 {
	font-size: 40px;
	text-align: center;
	margin: auto;
}

.body {
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	display: none;
}

.content {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 90%;
	height: 70%;
	margin: auto;
	border: none;
}

.content .logo {
	width: auto;
	max-height: auto;
	margin: auto;
	margin-bottom: 0;
}

.content h2, p {
	margin: 5px;
}

.buttonspot {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: auto;
	height: 15%;
	margin: auto;
	border: none;
}

.buttonspot h2, p {
	margin: 5px;
}

.button {
	width: 30%;
	height: 40px;
	align-self: center;
	text-align: center;
	margin-left: 40px;
	margin-right: 40px;
	background: #7343bf;
	background-image: linear-gradient(to bottom, #7343bf, #3e1d5b);
	border-radius: 4px;
	color: #ffffff;
	font-size: 30px;
	text-decoration: none;
}

.form {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 5px;
}

.form div {
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
}

#questionNumero {
	margin-top: 40px;
}

.submit {
	align-items: center;
	height: 40px;
	text-align: center;
	width: 30%;
	background: #7343bf;
	background-image: linear-gradient(to bottom, #7343bf, #3e1d5b);
	border-radius: 4px;
	color: #fff;
	font-size: 20px;
	margin-top: 10px;
	border: none;
}

.barre-progression {
	width: 80%;
	align-self: center;
	bottom: 50px;
	height: 10%;
	margin: auto;
	margin-top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
}

.barre-progression h2 {
	width: 100%;
	height: 60%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	color: #7343bf;
}

.progression {
	width: 80%;
	border: 0 none;
	background: #ddd;
	border-radius: 14px;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.progression::-moz-progress-bar {
	background: #FFF;
	border-radius: 14px;
	box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.progression::-webkit-progress-bar {
	background: transparent;
}

.progression::-webkit-progress-value {
	background-image: linear-gradient(to bottom, #7343bf, #3e1d5b);
	border-radius: 14px;
	box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

.bold-text {
	font-weight: bold;
}

#success {
	color: green;
	font-weight: bold;
	font-size: 40px;
}

#fail {
	color: red;
	font-weight: bold;
	font-size: 40px;
}