<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
	<div class="full-screen">
		<div class="question-container">
			<!-- header -->
			<div class="header">
				<img src="logo.png" class="logo"/>
				<!--<h1>Auto-école</h1>-->
			</div>
			<!-- home -->
			<div class="body home">
				<div class="content">
					<!-- ICI BREVE PRESENTATION -->
					<center>
						<img src="dmv.png" class="logo"/>
						<br/>
						<p class="bold-text">Bienvenue à votre auto-école</p>
					</center>
					<br>
					<center>
						Tous les citoyens de Los Plantos doivent réussir leur examen de code avant de pouvoir conduire.
						<br>
						Prenez votre temps, répondez avec du bon sens, ne répondez pas au hasard.
						<br>
						<br>
					</center>
					Examen de Code
					<ul>
						<li>
							L'examen de code est payant et n'est pas remboursé si vous échouez
						</li>
						<li>
							Si vous loupez votre test, vous devrez attendre 1 heure avant de le retenter
						</li>
					</ul>
					<br>
					<br> 
					Examen de Conduite
					<ul>
						<li>
							L'examen de Conduite est payant tout comme l'examen de code, ce paiement ne vous sera pas remboursé si vous échouez
						</li>
						<li>
							La chose principale pour votre permis est de faire attention à ce qui vous entoure et surtout éviter les accidents !
						</li>
					</ul>
				</div>
				<br>
				<div class="buttonspot">
					<a href="#" class="button btnQuestion">Démarrer</a>
				</div>
			</div>
			<!-- Question-->
			<div class="body questionnaire-container">
				<div class="content">
					<h2 id="questionNumero"></h2>
					<p id="question"></p>
					<form class="form" id="question-form">
						<div>
							<input type="radio" name="question" id="answerA" value="A"/>
							<label for="answerA" class="answerA"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerB" value="B"/>
							<label for="answerB" class="answerB"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerC" value="C"/>
							<label for="answerC" class="answerC"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerD" value="D"/>
							<label for="answerD" class="answerD"></label>
						</div>
						<button type="submit" id="submit" class="submit">Valider la réponse</button>
					</form>
				</div>
				<div class="barre-progression">
					<h2>Progrès</h2>
					<progress class="progression" value="0" max="10">
				</div>
			</div>
			<!-- Results -->
			<div class="body resultGood">
				<div class="content">
					<center>
						<p class="bold-text" id="success">Bon travail !</p>
						<br>
						<br>Vous avez bien travaillé durant l'examen !
						<br>
						<br>Vous pouvez maintenant fermer cette fenêtre et passer à l'examen.
					</center>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnClose">Fermer</a>
				</div>
			</div>
			<div class="body resultBad">
				<div class="content">
					<center>
						<br>
						<p class="bold-text" id="fail">Vous avez échoué</p>
						<br>
						<br>Vous pourrez réessayer dans une heure...
						<br>
						<br>
					</center>
				</div>
				<div class="buttonspot">
					<a href="#" class="button btnKick">Fermer</a>
				</div>
			</div>
		</div>
	</div>

	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="questions.js" type="text/javascript"></script>
	<script src="scripts.js" type="text/javascript"></script>
	<script src="debounce.min.js" type="text/javascript"></script>

</body>