<template>
  <div class="fabbybird">
    <div class="bkg-main">
      <div class="start" v-if="paused">
        <div class="fabbybird">Flappy Foub</div>
        Appuyez sur<br ><strong>Flèche Haut</strong><br >pour faire voler FOUB
      </div>
      <div class="start" v-if="dead">
        <div class="fabbybird">Dommage !</div>
        <strong>Score: {{ game.score }}</strong>
      </div>
      <div class="score">Score: {{ game.score }}</div>
      <div class="score-max">Record: {{ max }}</div>
      <div class="bkg" :style="styleBgr">
        <div class="pipe-group">
          <div v-for="(pipe, id) in game.pipes" :key="id" class="pipe" :style="{left:pipe.position+'px'}">
             <div class="pipe-top" :style="{height:pipe.topPipeHeight+'px'}"></div>
                <div class="space" style="height:150px"></div>
                <div class="pipe-bottom" :style="{height:bottomPipeHeight(pipe)+'px'}"></div>
          </div>
        </div>

        <div class="bird" :class="'bird-'+game.bird.wingState" :style="styleBird"></div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
  components: {},
  data () {
    return {
      dead: false,
      paused: true,
      startMsg: null,
      lockedKey: false,
      max: 0,
      eventCallback: {
      },
      timeoutBirdUp: undefined,
      timeoutBirdDown: undefined,
      default_vars: {
        score: 0,
        curIdx: 0,
        pipes: [],
        bird: {
          vBird: 1,
          uBird: 5,
          dt: 0.05,
          xBird: 50,
          yBird: 400,
          g: 300,
          wingState: 0
        },
        bgr: {
          width: 400
        }
      },
      game: {}
    }
  },
  computed: {
    ...mapGetters(['IntlString', 'useMouse', 'highestScore']),
    styleBird () {
      return {
        width: '68px',
        height: '68px',
        left: this.game.bird.xBird + 'px',
        top: this.game.bird.yBird + 'px'
      }
    },
    styleBgr () {
      return {
        width: this.game.bgr.width + 'px',
        right: 0
      }
    }
  },
  methods: {
    onBackspace () {
      this.$router.push({ name: 'home' })
    },
    onUp () {
      if ((this.useMouse && this.lockedKey === false) || !this.useMouse) {
        this.lockedKey = true
        if (this.paused) {
          this.$set(this, 'game', JSON.parse(JSON.stringify(this.default_vars)))
          this.paused = false
        }
        this.upperBird()
      }
    },
    onUpDown () {
      if (this.useMouse) {
        this.lockedKey = false
      }
    },
    gameLoop () {
      if (!this.paused && !this.dead) {
        this.game.bird.vBird += this.game.bird.dt * this.game.bird.g
        this.game.bird.yBird += this.game.bird.dt * this.game.bird.vBird
        if (this.game.bird.yBird > 776) this.game.bird.vBird = -100
        if (this.game.bird.yBird < 0) this.game.bird.vBird = 100
        this.game.bird.xBird += this.game.bird.uBird
        this.game.bgr.width += this.game.bird.uBird
        this.checkDue()
      }
    },
    upperBird () {
      clearTimeout(this.timeoutBirdUp)
      clearTimeout(this.timeoutBirdDown)
      this.game.bird.vBird = -200
      this.game.bird.wingState = 2
      this.timeoutBirdUp = setTimeout(() => {
        this.game.bird.wingState = 0
        this.timeoutBirdDown = setTimeout(() => {
          this.game.bird.wingState = 1
        }, 200)
      }, 200)
    },
    addPipe () {
      this.game.curIdx += 1
      this.game.pipes.push({
        id: this.game.curIdx,
        position: this.game.bgr.width,
        topPipeHeight: 250 + Math.random() * 150
      })
    },
    bottomPipeHeight (pipe) {
      return 794 - pipe.topPipeHeight - 100
    },
    checkDue () {
      if (this.game.pipes.length > 10) delete this.$delete(this.game.pipes, 0)
      this.game.pipes.forEach((pipe) => {
        if (this.game.bird.xBird + 68 > pipe.position && this.game.bird.xBird < pipe.position + 100) {
          if (this.game.bird.yBird < pipe.topPipeHeight || this.game.bird.yBird + 68 > pipe.topPipeHeight + 150) {
            if (this.max < this.game.score) this.max = this.game.score
            this.dead = true
            this.$bus.$off('keyUpArrowUp', this.onUp)
            setTimeout(() => {
              this.paused = true
              this.dead = false
              this.$set(this, 'game', JSON.parse(JSON.stringify(this.default_vars)))
              this.$bus.$on('keyUpArrowUp', this.onUp)
            }, 3000)
          }
        }
        if (this.game.score < pipe.id && this.game.bird.xBird > pipe.position + 100) {
          this.game.score = pipe.id
        }
      })
    }
  },
  created () {
    this.$bus.$on('keyUpArrowUp', this.onUp)
    this.$bus.$on('keyDownArrowUp', this.onUpDown)
    this.$bus.$on('keyUpBackspace', this.onBackspace)
    this.$set(this, 'game', JSON.parse(JSON.stringify(this.default_vars)))
  },
  mounted () {
    setTimeout(() => {
      this.addPipe()
      setInterval(this.gameLoop, 30)
      setInterval(this.addPipe, 3000)
    }, 1000)
  },
  beforeDestroy () {
    this.$bus.$off('keyUpArrowUp', this.onUp)
    this.$bus.$off('keyDownArrowUp', this.onUpDown)
    this.$bus.$off('keyUpBackspace', this.onBackspace)
  }
}
</script>

<style scoped>
  .bkg-main {
  width: 100%;
  height: 803px;
  overflow: hidden;
}
.bkg {
  /* width: 100%; */
  height: 803px;
  background-image: url(../../assets/img/fabbybird/fabbybird_bg.png);
  background-position: bottom;
  background-repeat: repeat-x;
  background-color: #078CFD;
  border: 3px solid green;
  position: absolute;
}
.bird {
  position: absolute;
  z-index: 20;
  width: 68px;
  height: 68px;
  transition: transform 0.5s;
}
.bird-0 {
    background: url(../../assets/img/fabbybird/fabbybird_bird1.png) 50% 50% no-repeat;
}
.bird-1 {
    background: url(../../assets/img/fabbybird/fabbybird_bird2.png) 50% 50% no-repeat;
}
.bird-2 {
    background: url(../../assets/img/fabbybird/fabbybird_bird3.png) 50% 50% no-repeat;
}
.pipe-top {
  background: url(../../assets/img/fabbybird/fabbybird_pipedown.png) bottom no-repeat;
  background-size: cover;
}
.pipe-bottom {
  background: url(../../assets/img/fabbybird/fabbybird_pipeup.png) no-repeat;
  background-size: cover;
}
.pipe-group {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 20;
  overflow: hidden;
}
.pipe-group li {
    text-decoration: none;
}
.pipe {
  width: 100px;
  position: absolute;
}
.space {
  height: 150px;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.score, .score-max {
  position: absolute;
  z-index: 999;
  left: 20px;
  top: 30px;
  font-size: 1.2em;
  font-weight: bold;
}
.score-max {
  left: 250px;
}
.start {
  position: absolute;
  z-index: 999;
  width: 100%;
  text-align: center;
  top: 150px;
  font-size: 1.3em;
  line-height: 1.5em;
}

.start .fabbybird {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 100px;
}
</style>
