@font-face {
  font-family: "DS-Digital";
  src: url("../fonts/DS-DIGI.TTF");
}
@font-face {
  font-family: "DS-Digital";
  src: url("../fonts/DS-DIGIB.TTF");
  font-weight: bold;
}
@font-face {
  font-family: "DS-Digital";
  src: url("../fonts/DS-DIGII.TTF");
  font-style: italic, oblique;
}
@font-face {
  font-family: "DS-Digital";
  src: url("../fonts/DS-DIGIT.TTF");
  font-weight: bold;
  font-style: italic, oblique;
}

body {
    position: relative;
    font-family: 'DS-Digital';
    overflow: hidden;
    display: none;
    top: 0;
}

.status {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  border: 1px solid #24332c;
}

.status.connected_first {
  background-color: #FF9600;
}

.status.connected_second {
  background-color: #B000A5;
}

.status.disconnected {
  background-color: transparent;
}

#radio {
  font-family: 'DS-Digital';
  width: 367px;
  height: 795px;
  left: 0;
  bottom: 0;
  position: fixed;
}

#onoff {
  position: absolute;
  top: 32%;
  right: 0;
  padding: 40px 40px;
  opacity: .0;
}

.onoff button {
 padding: 40px 55px;
 opacity: .0;
}

.ekran {
  position: absolute;
  background-color: #c4dfd3;
  padding: 95px 100px;
  top: 71%;
  left: 22.5%;
}

.channel {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

.channel span {
  text-align: center;
}

.channel-screen input {
  font-family: 'DS-Digital';
  width: 25px;
  text-align: center;
  border: none;
  background-color: #c4dfd3;
  padding: 0px;
  font-size: 34px;
}

.channel-screen {
  font-weight: bold;
}

button {
  font-family: 'DS-Digital';
  background-color: #9fb8ad;
  border: 1px solid #6f867c;
  color: #24332c;
  width: 65px;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0 0 4px;
}

button.button {
  width: 80px;
  margin: 12px 4px 0 0;
  font-size: 14px;
  font-weight: bold;
}

button.disconnect {
  width: 103px;
}

.channel-button:hover {
  text-decoration: underline;
  font-weight: bold;
}

.channel-button.selected {
  text-decoration: underline;
  font-weight: bold;
}

#change-channel {
  width: 100%;
  text-align: center;
  margin-top: 18px;
}

.submitbuttons {
  text-align: right;
  margin-top: 14px;
}

.volume-panel .slider-wrapper {
  display: inline-block;
  width: 97px;
}

.volume-panel {
  width: 200px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.volume-panel .slider {
  -webkit-appearance: none;
  width: 50px;
  height: 5px;
  border-radius: 5px;  
  background: #6f867c;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.volume-panel .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: #84af9d;
  cursor: pointer;
}

.volume-panel .slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #84af9d;
  cursor: pointer;
}

.channel .buttons {
  padding-right: 19px;
}

.channel .buttons.bottom {
  padding-right: 24px;
}

.channel .buttons span {
  width: 25px;
  display: inline-block;
}

img.chevron {
  width: 15px;
  opacity: 0.4;
}

img.chevron:hover {
  opacity: 0.8;
}

.channel .buttons .chevron-bottom {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}