.tokovoipInfo {
    position: absolute;
    right   : 3em;
	bottom : 3.6em;
    color: white;
}

.pluginScreen {
    display: block;
    position: absolute;
    background-image: radial-gradient(rgb(23, 23, 23), rgb(0, 0, 0));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.pluginScreenWindow {
    background: rgba(0, 0, 0, 0.5);
    width: 384px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-51%);
    border-left: 2px solid #989898;
    padding: 20px;
    color: #eee;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px #000000;
    font-weight: bold;
}

.base_talk {
    font-size: 2.6em;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.radio_first {
    color: #FF9600;
}

.radio_second {
    color: #B000A5;
}

.normal {
    color: #eee;
}

.muted {
    color: #e60000;
}

ul {
    padding-inline-start: 27px;
    margin-block-start: 6px;
}

#latency {
    top: 80px;
    position: absolute;
    color: white;
    font-size: 10px;
    font-weight: 100;
}
