body {
	font-family: sans-serif;
	overflow: hidden;
	display: none;
	background-color: transparent;
}

.card {
	width: 332px;
	position: absolute;
    left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
}