@font-face {
  font-family: glitch;
  src: url('../fonts/pdown.ttf');
}

@font-face {
  font-family: chalet;
  src: url('../fonts/ChaletLondonNineteenSixty.ttf');
}

.menu {
  font-family: chalet;  
  font-size: 1.5vh;
  position   : absolute;
  left       : 50%;
  top        : 50%;
  transform  : translate(-50%, -50%);
  box-shadow : 0px 0px 50px 0px #000;
  overflow-y : auto;
  max-height : 90%;
  border-radius : 0.6vw;
}

.menu button {
  font-family: chalet; 
  font-size: 1.2vh;
  background-color: #3E1D5BEE;
  color: white;
  border-radius : 0.2vw;
  outline-width: 0;
  -ms-layout-grid-line: 0;
  border-width: 0;
}

.menu button:hover {
  background-color: #5C3293EE;
}

.menu button[data-value="fire"] {
  font-family: chalet; 
  font-size: 1.2vh;
  background-color: #c70000;
  color: white;
}

.menu button[data-value="fire"]:hover {
  background-color: #f70000;
}

.menu > table {
  border          : 1px transparent;
  border-spacing  : 0;
  min-width       : 20vw;
  font-size: 1.2vh;
}

.menu > table > thead {
  background-color: #000;
  text-align      : center;
  height          : 3.0vh;
  line-height     : 3.0vh;
  color           : #fff;
}

.menu td {
  text-align: left;
  height: 3.0vh;
  padding-left   : 1vw;
  padding-right   : 1vw;
  background-color: rgba(0, 0, 0, 0.8);
  color           : #fff;
  font-size: 1.2vh;
}

.menu tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.8);
}

.menu tbody tr:nth-child(odd) {
  background-color: rgba(32, 32, 32, 0.8);
}

.menu tfoot td {
  text-align: center;
}