@font-face {
  font-family: justsignature;
  src: url('../fonts/justsignature/JustSignature.woff');
}
body, html {
  width: 100%;
  height: 100%;
}
p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: black;
  font-size: 12px;
  font-weight: bold;
}
#id-card {
  position: relative;
  display: none;
  margin: 230px 50px 0 0;
  float: right;
  width: 457px;
  height: 272px;
  padding: 54px 17px 10px 144px;
  background: url("../images/idcard.png");
}
img {
  position: absolute;
  left:7px;
  top:5px;
}
#name {
  font-weight: bolder;
  font-size: 18px;
  color: #282828;
}
#inline {
  position: absolute;
  top: 109px;
}
#dob {
  position: absolute;
  left: 0;
  width: 100px;
}
#sex {
  position: absolute;
  left: 90px;
}
#height {
  position: absolute;
  left: 150px;
  width: 60px;
}
#signature {
  position: absolute;
  bottom: 76px;
  left: 152px;
  color: black;
  font-size: 19px;
  text-transform:capitalize;
  font-family: justsignature;
}
#licenses {
  position: absolute;
  top: 109px;
  right: 16px;
  width: 76px;
}
