<template>
  <div class="contact">
    <list :list='lcontacts' :searchMod="true" :title="IntlString('APP_PHOTO_SHARE')" v-on:select="onSelect" @back="back"></list>
  </div>
</template>

<script>
import List from './../List.vue'
import { mapActions, mapGetters } from 'vuex'
import Modal from '@/components/Modal/index.js'

export default {
  components: {
    List
  },
  data () {
    return {
      id: -1,
      photo: {
        id: -1,
        url: ''
      }
    }
  },
  computed: {
    ...mapGetters(['IntlString', 'contacts', 'photos', 'useMouse']),
    lcontacts () {
      let addContact = {
        display: this.IntlString('APP_PHONE_ENTER_NUMBER'),
        letter: '+',
        backgroundColor: 'orange',
        num: -1
      }
      return [addContact, ...this.contacts]
    }
  },
  methods: {
    ...mapActions(['sendMessage']),
    onSelect (contact) {
      if (contact.num === -1) {
        Modal.CreateTextModal({
          title: this.IntlString('APP_PHONE_ENTER_NUMBER'),
          limit: 10
        }).then(data => {
          let message = data.text.trim()
          if (message !== '') {
            this.sendMessage({
              phoneNumber: message,
              message: this.photo.url
            })
            this.$router.push({
              name: 'messages.view',
              params: {
                number: message,
                message: message
              }
            })
          }
        })
      } else {
        this.sendMessage({
          phoneNumber: contact.number,
          message: this.photo.url
        })
        this.$router.push({
          name: 'messages.view',
          params: contact
        })
      }
    },
    back () {
      history.back()
    }
  },
  created () {
    this.$bus.$on('keyUpBackspace', this.back)
    this.id = parseInt(this.$route.params.id)
    if (this.id !== -1) {
      const c = this.photos.find(e => e.id === this.id)
      if (c !== undefined) {
        this.photo = {
          id: c.id,
          url: c.url
        }
      }
    }
  },

  beforeDestroy () {
    this.$bus.$off('keyUpBackspace', this.back)
  }
}
</script>

<style scoped>
.contact{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
</style>
