<template>
  <div class="screen">
    <div class='elements'>
      <InfoBare style="width: 100%;top: 100%;margin-left: -17px;"/>
      <img class="logo_maze" src="/html/static/img/app_pacific/pacific.png">
      <div class="num-tarj" >
        <span  class="moneyTitle">{{ IntlString('APP_BANK_TITLE_BALANCE') }}</span>
        <span class="moneyTitle">: ${{ bankAmountFormat }}</span>
      </div>

      <div class="hr"></div>

      <div class='element'>
        <div class="element-content">

        </div>

        <div class="element-content">           
          <button  v-bind:class="{ select: 0 === currentSelect}" ref="form3" id="cancel" @click.stop="cancel" class="buton-cancel">{{ IntlString('APP_BANK_BUTTON_CANCEL') }}</button>
        </div>
        
      </div>
      
    </div>
    <img class="footer" src="/html/static/img/app_pacific/footer.png">
      </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import InfoBare from '../InfoBare'
export default {
  components: {
    InfoBare
  },
  data () {
    return {
      currentSelect: 0
    }
  },
  methods: {
    ...mapActions(),
    scrollIntoViewIfNeeded: function () {
      this.$nextTick(() => {
        document.querySelector('focus').scrollIntoViewIfNeeded()
      })
    },
    cancel () {
      this.$router.go(-1)
    },
    onUp: function () {
      if ((this.currentSelect - 1) >= 0) {
        this.currentSelect = this.currentSelect - 1
      }
      this.$refs['form' + this.currentSelect].focus()
    },
    onDown () {
      if ((this.currentSelect + 1) <= 0) {
        this.currentSelect = this.currentSelect + 1
      }
      this.$refs['form' + this.currentSelect].focus()
    },
    onEnter () {
      if (this.ignoreControls === true) return
      if (this.currentSelect === 0) {
        this.cancel()
      }
    }
  },
  computed: {
    ...mapGetters(['bankAmount', 'IntlString', 'useMouse']),
    bankAmountFormat () {
      return Intl.NumberFormat().format(this.bankAmount)
    }
  },
  created () {
    this.display = this.$route.params.display
    if (!this.useMouse) {
      this.$bus.$on('keyUpArrowDown', this.onDown)
      this.$bus.$on('keyUpArrowUp', this.onUp)
      this.$bus.$on('keyUpEnter', this.onEnter)
    }
  },
  beforeDestroy () {
    this.$bus.$off('keyUpArrowDown', this.onDown)
    this.$bus.$off('keyUpArrowUp', this.onUp)
    this.$bus.$off('keyUpEnter', this.onEnter)
  }
}
</script>

<style scoped>
.screen{
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 18px;
  background-color: #eeeeee;
}
.logo_maze {
  height: auto;
  flex-shrink: 0;
  
  width: 111%;
  margin-left: -18px;
  margin-top: -12em;
}

input {
  outline: none;
  font-weight: 500;
}

input::placeholder {
  font-weight: 500;
}

button {
  outline: none;
}

.num-tarj{
 margin-top: 1em; 
 display: flex;
 justify-content: center;
 font-weight: bold;
}

.moneyTitle{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-weight: 600;
  color: rgb(39, 39, 39);
  font-size: 16px;
}

.title{
  padding-left: 16px;
  height: 34px;
  line-height: 34px;
  font-weight: 700;
  color: rgb(39, 39, 39);
  background-color: rgb(173, 58, 58);
}
.elements{
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.hr{
  width: 100;
  height: 4px;
  margin-top: 40px;
  background-color: rgb(173, 58, 58);
}

.footer {
  height: auto;
  flex-shrink: 0;
  width: 111%;
  margin-left: -18px;
  margin-top: -57px
}

.element-content{
  margin-top: 24px;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: black;
  
}

.buton-cancel{
  border: none;
  width: 220px;
  color: black;
  background-image: linear-gradient(to right, #D3D3D3, #C5C5C5 , #B6B6B6); 
  padding: .5rem 1rem;
  font-size: 17px;
  line-height: 1.5;
  margin-top: 1.25rem;
  font-weight: 300;
  margin-bottom: .25rem;
  cursor: pointer;
  border-radius: 1.3rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-transform: none;
}
.select{
  box-shadow: inset 0px 0px 0px 4px #fc8b8b;
}



</style>
