body {
	overflow: hidden;
}

#welcome {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 840px;
	height: 535px;
	margin-top: -267px;
	margin-left: -420px;
}

#welcome.opacity {
	opacity: 0.0;
	transition: all 3s;
}

#welcome.displayWelcome {
	display: block;
}

#welcome.opacity.animOpacity {
	opacity: 1.0;
}

#welcome img {
	width: 100%;
}
