/* Need Help? Join my discord @ discord.gg/yWddFpQ */
:root {
    --loadbar-progress-color: #f300a59f;
    --loadbar-color: #ffffff5b;
    --footer-font-color: #dfdfdf98;
    --background-contrast: 95%;
    --background-blur: 2px;
    --loadbar-height: 27px;
    --footer-font-size: 24px;
    --fadeTo-Color: #161616;
}

:root.xmas {
    --loadbar-progress-color: #f300009f !important;
    --footer-font-color: #f1f1f1fb !important;
    --loadbar-color: #ffffff9f !important;
}
