/* Need Help? Join my discord @ discord.gg/yWddFpQ */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Lato');

* {
    font-family: 'Lato', sans-serif;
    text-align: center;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--fadeTo-Color);
    overflow: hidden;
}

.blur {
    -webkit-filter: blur(var(--background-blur)) contrast(var(--background-contrast));
    filter: blur(var(--background-blur)) contrast(var(--background-contrast));
}

.logo {
    width: 420px;
}

.loadbar {
    border-radius: 25px;
    width: 100%;
    background-color: var(--loadbar-color);
    height: var(--loadbar-height);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    margin-top: 45px;
    margin-bottom: 5px;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: block;
}

.loadbar .bar {
    width: 0%;
    border-radius: 25px;
    background-color: var(--loadbar-progress-color);
    height: var(--loadbar-height);
    position: absolute;
    left: 0%;
}

.loadbar .text {
    position: absolute;
    font-size: 9pt;
    width: 100%;
    height: 27px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.74);
}

.loadbar .text .type {
    font-weight: bold;
    margin-right: 6px;
}

#container {
    width: 640px;
    text-shadow: 2px 2px 5px #424242;
    position: absolute;
    color: rgb(241, 235, 235);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 75px;
    text-align: center;
}

#bg { 
  -webkit-background-size: cover;
  background-size: cover;
}

#cursor {
    pointer-events: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    background-size: contain;
    width: 24px;
    height: 24px;
}

#cursor svg {
    fill: white;
    stroke: black;
}

.volumecontrols {
    position: absolute;
    bottom: 25px;
    left: 25px;
    display: flex;
}